body {
  background: #020024;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(4, 115, 190, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(3, 140, 207, 1) 27%, rgba(6, 69, 160, 1) 86%, rgba(9, 9, 121, 1) 100%);
  color: rgb(238, 241, 245);
  background-color: #363634;
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body h2 {
  text-align: center;
}

.input {
  position: relative;
  width: 250px;
  margin: 20px auto;
}

.input input {
  width: 100%;
  font-size: 30px;
  z-index: 2;
  padding-left: 5px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif3;
}

.input label {
  position: absolute;
  left: 7px;
  top: 0;
  bottom: 0;
  font-size: 30px;
  opacity: 0.3;
  z-index: 1;
  user-select: none;
  display: flex;
  align-items: center;
}
